In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [17]:
df = pd.read_csv(r'C:\Users\user\Desktop\100-days-of-machine-learning-main\day32-binning-and-binarization\train.csv',usecols= ['Age','Fare','Survived'])

In [18]:
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
886         0  27.0  13.0000
887         1  19.0  30.0000
888         0   NaN  23.4500
889         1  26.0  30.0000
890         0  32.0   7.7500

[891 rows x 3 columns]

In [23]:
df.dropna(inplace = True)

In [24]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [26]:
X_train.shape

(571, 2)

In [27]:
X_train.head(2)

      Age     Fare
328  31.0  20.5250
73   26.0  14.4542

In [28]:
clf = DecisionTreeClassifier()

In [29]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [30]:
accuracy_score(y_test,y_pred)

0.6363636363636364

In [31]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6289319248826291

In [32]:
kbin_age = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')
kbin_fare = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')

In [33]:
trf = ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [34]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [35]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42,  6.  , 16.  , 19.  , 21.  , 23.  , 25.  , 28.  , 30.  ,
              32.  , 35.  , 38.  , 42.  , 47.  , 54.  , 80.  ])             ],
      dtype=object)

In [36]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42,  6.  , 16.  , 19.  , 21.  , 23.  , 25.  , 28.  , 30.  ,
              32.  , 35.  , 38.  , 42.  , 47.  , 54.  , 80.  ])             ],
      dtype=object)

In [37]:
output = pd.DataFrame({
    'age':X_train['Age'],
    'age_trf':X_train_trf[:,0],
    'fare':X_train['Fare'],
    'fare_trf':X_train_trf[:,1]
})

In [38]:
output

      age  age_trf      fare  fare_trf
328  31.0      8.0   20.5250       8.0
73   26.0      6.0   14.4542       7.0
253  30.0      8.0   16.1000       7.0
719  33.0      9.0    7.7750       2.0
666  25.0      6.0   13.0000       6.0
..    ...      ...       ...       ...
92   46.0     12.0   61.1750      12.0
134  25.0      6.0   13.0000       6.0
337  41.0     11.0  134.5000      14.0
548  33.0      9.0   20.5250       8.0
130  33.0      9.0    7.8958       3.0

[571 rows x 4 columns]