In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'C:\Users\user\Desktop\rain_in_AUS-master\weatherAUS.csv')

In [5]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [9]:
df.drop(['Date'],axis=1,inplace =True)

In [10]:
df.head(2)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No

In [11]:
df.isna().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [14]:
cols = ['Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow']

In [15]:
df[cols]

       Location WindGustDir WindDir9am WindDir3pm RainToday RainTomorrow
0        Albury           W          W        WNW        No           No
1        Albury         WNW        NNW        WSW        No           No
2        Albury         WSW          W        WSW        No           No
3        Albury          NE         SE          E        No           No
4        Albury           W        ENE         NW        No           No
...         ...         ...        ...        ...       ...          ...
145455    Uluru           E         SE        ENE        No           No
145456    Uluru         NNW         SE          N        No           No
145457    Uluru           N         SE        WNW        No           No
145458    Uluru          SE        SSE          N        No           No
145459    Uluru         NaN        ESE        ESE        No          NaN

[145460 rows x 6 columns]

In [18]:
df[cols].isna().sum()

Location            0
WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [43]:
from sklearn.preprocessing import OneHotEncoder

In [44]:
encoder = OneHotEncoder(sparse = False, handle_unknown='ignore')

In [45]:
encoder.fit(df[cols])

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [46]:
encoder.categories_

[array(['Adelaide', 'Albany', 'Albury', 'AliceSprings', 'BadgerysCreek',
        'Ballarat', 'Bendigo', 'Brisbane', 'Cairns', 'Canberra', 'Cobar',
        'CoffsHarbour', 'Dartmoor', 'Darwin', 'GoldCoast', 'Hobart',
        'Katherine', 'Launceston', 'Melbourne', 'MelbourneAirport',
        'Mildura', 'Moree', 'MountGambier', 'MountGinini', 'Newcastle',
        'Nhil', 'NorahHead', 'NorfolkIsland', 'Nuriootpa', 'PearceRAAF',
        'Penrith', 'Perth', 'PerthAirport', 'Portland', 'Richmond', 'Sale',
        'SalmonGums', 'Sydney', 'SydneyAirport', 'Townsville',
        'Tuggeranong', 'Uluru', 'WaggaWagga', 'Walpole', 'Watsonia',
        'Williamtown', 'Witchcliffe', 'Wollongong', 'Woomera'],
       dtype=object),
 array(['E', 'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE',
        'SSW', 'SW', 'W', 'WNW', 'WSW', nan], dtype=object),
 array(['E', 'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE',
        'SSW', 'SW', 'W', 'WNW', 'WSW', nan], dtype=object),
 array(['E', 'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE',
        'SSW', 'SW', 'W', 'WNW', 'WSW', nan], dtype=object),
 array(['No', 'Yes', nan], dtype=object),
 array(['No', 'Yes', nan], dtype=object)]

In [47]:
encoded_cols = encoder.transform(df[cols])

In [48]:
encoded_cols

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [49]:
listcols = list(encoder.get_feature_names(cols))

In [50]:
listcols

['Location_Adelaide',
 'Location_Albany',
 'Location_Albury',
 'Location_AliceSprings',
 'Location_BadgerysCreek',
 'Location_Ballarat',
 'Location_Bendigo',
 'Location_Brisbane',
 'Location_Cairns',
 'Location_Canberra',
 'Location_Cobar',
 'Location_CoffsHarbour',
 'Location_Dartmoor',
 'Location_Darwin',
 'Location_GoldCoast',
 'Location_Hobart',
 'Location_Katherine',
 'Location_Launceston',
 'Location_Melbourne',
 'Location_MelbourneAirport',
 'Location_Mildura',
 'Location_Moree',
 'Location_MountGambier',
 'Location_MountGinini',
 'Location_Newcastle',
 'Location_Nhil',
 'Location_NorahHead',
 'Location_NorfolkIsland',
 'Location_Nuriootpa',
 'Location_PearceRAAF',
 'Location_Penrith',
 'Location_Perth',
 'Location_PerthAirport',
 'Location_Portland',
 'Location_Richmond',
 'Location_Sale',
 'Location_SalmonGums',
 'Location_Sydney',
 'Location_SydneyAirport',
 'Location_Townsville',
 'Location_Tuggeranong',
 'Location_Uluru',
 'Location_WaggaWagga',
 'Location_Walpole',
 'Location_Watsonia',
 'Location_Williamtown',
 'Location_Witchcliffe',
 'Location_Wollongong',
 'Location_Woomera',
 'WindGustDir_E',
 'WindGustDir_ENE',
 'WindGustDir_ESE',
 'WindGustDir_N',
 'WindGustDir_NE',
 'WindGustDir_NNE',
 'WindGustDir_NNW',
 'WindGustDir_NW',
 'WindGustDir_S',
 'WindGustDir_SE',
 'WindGustDir_SSE',
 'WindGustDir_SSW',
 'WindGustDir_SW',
 'WindGustDir_W',
 'WindGustDir_WNW',
 'WindGustDir_WSW',
 'WindGustDir_nan',
 'WindDir9am_E',
 'WindDir9am_ENE',
 'WindDir9am_ESE',
 'WindDir9am_N',
 'WindDir9am_NE',
 'WindDir9am_NNE',
 'WindDir9am_NNW',
 'WindDir9am_NW',
 'WindDir9am_S',
 'WindDir9am_SE',
 'WindDir9am_SSE',
 'WindDir9am_SSW',
 'WindDir9am_SW',
 'WindDir9am_W',
 'WindDir9am_WNW',
 'WindDir9am_WSW',
 'WindDir9am_nan',
 'WindDir3pm_E',
 'WindDir3pm_ENE',
 'WindDir3pm_ESE',
 'WindDir3pm_N',
 'WindDir3pm_NE',
 'WindDir3pm_NNE',
 'WindDir3pm_NNW',
 'WindDir3pm_NW',
 'WindDir3pm_S',
 'WindDir3pm_SE',
 'WindDir3pm_SSE',
 'WindDir3pm_SSW',
 'WindDir3pm_SW',
 'WindDir3pm_W',
 'WindDir3pm_WNW',
 'WindDir3pm_WSW',
 'WindDir3pm_nan',
 'RainToday_No',
 'RainToday_Yes',
 'RainToday_nan',
 'RainTomorrow_No',
 'RainTomorrow_Yes',
 'RainTomorrow_nan']

In [51]:
df2 = pd.DataFrame(encoded_cols, columns = [listcols])

In [52]:
df2

,Location_Adelaide,Location_Albany,Location_Albury,Location_AliceSprings,Location_BadgerysCreek,Location_Ballarat,Location_Bendigo,Location_Brisbane,Location_Cairns,Location_Canberra,...,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,WindDir3pm_nan,RainToday_No,RainToday_Yes,RainToday_nan,RainTomorrow_No,RainTomorrow_Yes,RainTomorrow_nan
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [69]:
list(df2.columns)

[('Location_Adelaide',),
 ('Location_Albany',),
 ('Location_Albury',),
 ('Location_AliceSprings',),
 ('Location_BadgerysCreek',),
 ('Location_Ballarat',),
 ('Location_Bendigo',),
 ('Location_Brisbane',),
 ('Location_Cairns',),
 ('Location_Canberra',),
 ('Location_Cobar',),
 ('Location_CoffsHarbour',),
 ('Location_Dartmoor',),
 ('Location_Darwin',),
 ('Location_GoldCoast',),
 ('Location_Hobart',),
 ('Location_Katherine',),
 ('Location_Launceston',),
 ('Location_Melbourne',),
 ('Location_MelbourneAirport',),
 ('Location_Mildura',),
 ('Location_Moree',),
 ('Location_MountGambier',),
 ('Location_MountGinini',),
 ('Location_Newcastle',),
 ('Location_Nhil',),
 ('Location_NorahHead',),
 ('Location_NorfolkIsland',),
 ('Location_Nuriootpa',),
 ('Location_PearceRAAF',),
 ('Location_Penrith',),
 ('Location_Perth',),
 ('Location_PerthAirport',),
 ('Location_Portland',),
 ('Location_Richmond',),
 ('Location_Sale',),
 ('Location_SalmonGums',),
 ('Location_Sydney',),
 ('Location_SydneyAirport',),
 ('Location_Townsville',),
 ('Location_Tuggeranong',),
 ('Location_Uluru',),
 ('Location_WaggaWagga',),
 ('Location_Walpole',),
 ('Location_Watsonia',),
 ('Location_Williamtown',),
 ('Location_Witchcliffe',),
 ('Location_Wollongong',),
 ('Location_Woomera',),
 ('WindGustDir_E',),
 ('WindGustDir_ENE',),
 ('WindGustDir_ESE',),
 ('WindGustDir_N',),
 ('WindGustDir_NE',),
 ('WindGustDir_NNE',),
 ('WindGustDir_NNW',),
 ('WindGustDir_NW',),
 ('WindGustDir_S',),
 ('WindGustDir_SE',),
 ('WindGustDir_SSE',),
 ('WindGustDir_SSW',),
 ('WindGustDir_SW',),
 ('WindGustDir_W',),
 ('WindGustDir_WNW',),
 ('WindGustDir_WSW',),
 ('WindGustDir_nan',),
 ('WindDir9am_E',),
 ('WindDir9am_ENE',),
 ('WindDir9am_ESE',),
 ('WindDir9am_N',),
 ('WindDir9am_NE',),
 ('WindDir9am_NNE',),
 ('WindDir9am_NNW',),
 ('WindDir9am_NW',),
 ('WindDir9am_S',),
 ('WindDir9am_SE',),
 ('WindDir9am_SSE',),
 ('WindDir9am_SSW',),
 ('WindDir9am_SW',),
 ('WindDir9am_W',),
 ('WindDir9am_WNW',),
 ('WindDir9am_WSW',),
 ('WindDir9am_nan',),
 ('WindDir3pm_E',),
 ('WindDir3pm_ENE',),
 ('WindDir3pm_ESE',),
 ('WindDir3pm_N',),
 ('WindDir3pm_NE',),
 ('WindDir3pm_NNE',),
 ('WindDir3pm_NNW',),
 ('WindDir3pm_NW',),
 ('WindDir3pm_S',),
 ('WindDir3pm_SE',),
 ('WindDir3pm_SSE',),
 ('WindDir3pm_SSW',),
 ('WindDir3pm_SW',),
 ('WindDir3pm_W',),
 ('WindDir3pm_WNW',),
 ('WindDir3pm_WSW',),
 ('WindDir3pm_nan',),
 ('RainToday_No',),
 ('RainToday_Yes',),
 ('RainToday_nan',),
 ('RainTomorrow_No',),
 ('RainTomorrow_Yes',),
 ('RainTomorrow_nan',)]

In [ ]:
df2.drop()

In [4]:
numeric_cols = ['MinTemp','MaxTemp','Rainfall','Evaporation','Sunshine','WindSpeed9am','WindSpeed3pm','Humidity9am','Humidity3pm','Pressure9am', 'Pressure3pm', 'Cloud9am','Cloud3pm','Temp9am','Temp3pm']

In [8]:
numerical = df[numeric_cols]

In [9]:
numerical

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,13.4,22.9,0.6,NaN,NaN,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8
1,7.4,25.1,0.0,NaN,NaN,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3
2,12.9,25.7,0.0,NaN,NaN,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2
3,9.2,28.0,0.0,NaN,NaN,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5
4,17.5,32.3,1.0,NaN,NaN,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,NaN,NaN,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4
145456,3.6,25.3,0.0,NaN,NaN,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5
145457,5.4,26.9,0.0,NaN,NaN,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1
145458,7.8,27.0,0.0,NaN,NaN,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0
145459,14.9,NaN,0.0,NaN,NaN,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9

In [26]:
from sklearn.impute import SimpleImputer

In [27]:
imputer = SimpleImputer(strategy = 'mean')

In [28]:
imputer.fit(numerical)

SimpleImputer()

In [30]:
numeric_transformed = imputer.transform(numerical)

In [31]:
numeric_transformed

array([[13.4       , 22.9       ,  0.6       , ...,  4.50993008,
        16.9       , 21.8       ],
       [ 7.4       , 25.1       ,  0.        , ...,  4.50993008,
        17.2       , 24.3       ],
       [12.9       , 25.7       ,  0.        , ...,  2.        ,
        21.        , 23.2       ],
       ...,
       [ 5.4       , 26.9       ,  0.        , ...,  4.50993008,
        12.5       , 26.1       ],
       [ 7.8       , 27.        ,  0.        , ...,  2.        ,
        15.1       , 26.        ],
       [14.9       , 23.22134828,  0.        , ...,  8.        ,
        15.        , 20.9       ]])

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler = MinMaxScaler()

In [32]:
scaler.fit(numeric_transformed)

MinMaxScaler()

In [36]:
numeric_scaled = scaler.transform(numeric_transformed)

In [37]:
df3 = pd.DataFrame(numeric_scaled ,columns = numerical.columns)

In [38]:
df3

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,0.516509,0.523629,0.001617,0.037712,0.524909,0.153846,0.275862,0.71,0.22,0.449587,0.4800,0.888889,0.501103,0.508439,0.522073
1,0.375000,0.565217,0.000000,0.037712,0.524909,0.030769,0.252874,0.44,0.25,0.497521,0.4912,0.494162,0.501103,0.514768,0.570058
2,0.504717,0.576560,0.000000,0.037712,0.524909,0.146154,0.298851,0.38,0.30,0.447934,0.5056,0.494162,0.222222,0.594937,0.548944
3,0.417453,0.620038,0.000000,0.037712,0.524909,0.084615,0.103448,0.45,0.16,0.613223,0.5712,0.494162,0.501103,0.533755,0.612284
4,0.613208,0.701323,0.002695,0.037712,0.524909,0.053846,0.229885,0.82,0.33,0.500826,0.4624,0.777778,0.888889,0.527426,0.673704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.266509,0.533081,0.000000,0.037712,0.524909,0.100000,0.126437,0.51,0.24,0.728926,0.6912,0.494162,0.501103,0.364979,0.533589
145456,0.285377,0.568998,0.000000,0.037712,0.524909,0.100000,0.103448,0.56,0.21,0.710744,0.6720,0.494162,0.501103,0.381857,0.573896
145457,0.327830,0.599244,0.000000,0.037712,0.524909,0.069231,0.103448,0.53,0.24,0.669421,0.6352,0.494162,0.501103,0.415612,0.604607
145458,0.384434,0.601134,0.000000,0.037712,0.524909,0.100000,0.080460,0.51,0.24,0.642975,0.6304,0.333333,0.222222,0.470464,0.602687
145459,0.551887,0.529704,0.000000,0.037712,0.524909,0.130769,0.195402,0.62,0.36,0.656198,0.6528,0.888889,0.888889,0.468354,0.504798

In [55]:
df_trans = pd.concat([df3,df2],axis =1)

In [56]:
df_trans

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,...,"(WindDir3pm_W,)","(WindDir3pm_WNW,)","(WindDir3pm_WSW,)","(WindDir3pm_nan,)","(RainToday_No,)","(RainToday_Yes,)","(RainToday_nan,)","(RainTomorrow_No,)","(RainTomorrow_Yes,)","(RainTomorrow_nan,)"
0,0.516509,0.523629,0.001617,0.037712,0.524909,0.153846,0.275862,0.71,0.22,0.449587,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.375000,0.565217,0.000000,0.037712,0.524909,0.030769,0.252874,0.44,0.25,0.497521,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.504717,0.576560,0.000000,0.037712,0.524909,0.146154,0.298851,0.38,0.30,0.447934,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.417453,0.620038,0.000000,0.037712,0.524909,0.084615,0.103448,0.45,0.16,0.613223,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.613208,0.701323,0.002695,0.037712,0.524909,0.053846,0.229885,0.82,0.33,0.500826,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.266509,0.533081,0.000000,0.037712,0.524909,0.100000,0.126437,0.51,0.24,0.728926,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145456,0.285377,0.568998,0.000000,0.037712,0.524909,0.100000,0.103448,0.56,0.21,0.710744,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145457,0.327830,0.599244,0.000000,0.037712,0.524909,0.069231,0.103448,0.53,0.24,0.669421,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145458,0.384434,0.601134,0.000000,0.037712,0.524909,0.100000,0.080460,0.51,0.24,0.642975,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
145459,0.551887,0.529704,0.000000,0.037712,0.524909,0.130769,0.195402,0.62,0.36,0.656198,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [58]:
list(df_trans.isna().sum())

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [67]:
list(df_trans.columns)

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 ('Location_Adelaide',),
 ('Location_Albany',),
 ('Location_Albury',),
 ('Location_AliceSprings',),
 ('Location_BadgerysCreek',),
 ('Location_Ballarat',),
 ('Location_Bendigo',),
 ('Location_Brisbane',),
 ('Location_Cairns',),
 ('Location_Canberra',),
 ('Location_Cobar',),
 ('Location_CoffsHarbour',),
 ('Location_Dartmoor',),
 ('Location_Darwin',),
 ('Location_GoldCoast',),
 ('Location_Hobart',),
 ('Location_Katherine',),
 ('Location_Launceston',),
 ('Location_Melbourne',),
 ('Location_MelbourneAirport',),
 ('Location_Mildura',),
 ('Location_Moree',),
 ('Location_MountGambier',),
 ('Location_MountGinini',),
 ('Location_Newcastle',),
 ('Location_Nhil',),
 ('Location_NorahHead',),
 ('Location_NorfolkIsland',),
 ('Location_Nuriootpa',),
 ('Location_PearceRAAF',),
 ('Location_Penrith',),
 ('Location_Perth',),
 ('Location_PerthAirport',),
 ('Location_Portland',),
 ('Location_Richmond',),
 ('Location_Sale',),
 ('Location_SalmonGums',),
 ('Location_Sydney',),
 ('Location_SydneyAirport',),
 ('Location_Townsville',),
 ('Location_Tuggeranong',),
 ('Location_Uluru',),
 ('Location_WaggaWagga',),
 ('Location_Walpole',),
 ('Location_Watsonia',),
 ('Location_Williamtown',),
 ('Location_Witchcliffe',),
 ('Location_Wollongong',),
 ('Location_Woomera',),
 ('WindGustDir_E',),
 ('WindGustDir_ENE',),
 ('WindGustDir_ESE',),
 ('WindGustDir_N',),
 ('WindGustDir_NE',),
 ('WindGustDir_NNE',),
 ('WindGustDir_NNW',),
 ('WindGustDir_NW',),
 ('WindGustDir_S',),
 ('WindGustDir_SE',),
 ('WindGustDir_SSE',),
 ('WindGustDir_SSW',),
 ('WindGustDir_SW',),
 ('WindGustDir_W',),
 ('WindGustDir_WNW',),
 ('WindGustDir_WSW',),
 ('WindGustDir_nan',),
 ('WindDir9am_E',),
 ('WindDir9am_ENE',),
 ('WindDir9am_ESE',),
 ('WindDir9am_N',),
 ('WindDir9am_NE',),
 ('WindDir9am_NNE',),
 ('WindDir9am_NNW',),
 ('WindDir9am_NW',),
 ('WindDir9am_S',),
 ('WindDir9am_SE',),
 ('WindDir9am_SSE',),
 ('WindDir9am_SSW',),
 ('WindDir9am_SW',),
 ('WindDir9am_W',),
 ('WindDir9am_WNW',),
 ('WindDir9am_WSW',),
 ('WindDir9am_nan',),
 ('WindDir3pm_E',),
 ('WindDir3pm_ENE',),
 ('WindDir3pm_ESE',),
 ('WindDir3pm_N',),
 ('WindDir3pm_NE',),
 ('WindDir3pm_NNE',),
 ('WindDir3pm_NNW',),
 ('WindDir3pm_NW',),
 ('WindDir3pm_S',),
 ('WindDir3pm_SE',),
 ('WindDir3pm_SSE',),
 ('WindDir3pm_SSW',),
 ('WindDir3pm_SW',),
 ('WindDir3pm_W',),
 ('WindDir3pm_WNW',),
 ('WindDir3pm_WSW',),
 ('WindDir3pm_nan',),
 ('RainToday_No',),
 ('RainToday_Yes',),
 ('RainToday_nan',),
 ('RainTomorrow_No',),
 ('RainTomorrow_Yes',),
 ('RainTomorrow_nan',)]

In [65]:
df_trans.drop(['(RainToday_nan)','(RainTomorrow_nan)','(RainToday_nan,)'], axis = 1)

KeyError: "['(RainToday_nan)' '(RainTomorrow_nan)' '(RainToday_nan,)'] not found in axis"

In [ ]:
inputs =